p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0;
}

.container {
  width: 100;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.mt {
  margin-top: 60px;
}

.pt {
  padding-top: 60px;
}

.mb {
  margin-bottom: 60px;
}

.pb {
  padding-bottom: 60px;
}

.logo {
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.black-logo {
  color: black;
}

.white-logo {
  color: white;
}

.logo-header {
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
}

.social-person-list {
  display: flex;
  justify-content: center;
}

.social-person-list__item + .social-person-list__item {
  margin-left: 10px;
}

.social-person-list__item {
  width: 44px;
  height: 44px;
}

.social-person-list__item + .social-person-list__item {
  margin-left: 10px;
}

.social-person-list__img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.social-person-list__link:hover .social-person-list__img,
.social-person-list__link:focus .social-person-list__img {
  fill: #ffffff;
}

.social-person-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-person-list__link:hover, .social-person-list__link:focus {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-figura__svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-figura__svg:focus, .exit-figura__svg:hover {
  fill: #2196f3;
}

.exit-figura {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  min-height: 609px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__name {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__path {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form__box-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  padding-left: 40px;
  padding-right: 15px;
  box-shadow: none;
  outline: none;
}

.modal-form__path:hover .modal-form__box-imput, .modal-form__box-imput:focus {
  border-color: #188ce8;
  box-shadow: none;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.coment-modalka {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.modal-form__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 11px;
  align-items: center;
}

.modal-form__path:hover .modal-form__svg,
.modal-form__box-imput:focus + .modal-form__svg {
  fill: #188ce8;
}

.modal-form__input-section {
  position: relative;
  display: flex;
  align-items: center;
}

.origa-checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.castom-checkbox {
  width: 100%;
  height: 100%;
  align-items: center;
}

.castom-box {
  width: 16px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #212121;
  background-color: #ffffff;
  margin: 0;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.origa-checkbox {
  opacity: 0;
  position: absolute;
  align-items: center;
  left: 2px;
}

.origa-checkbox:checked + .castom-box {
  background-color: #2196f3;
  border-color: rgba(0, 0, 0, 0);
}

.link-contract {
  color: #188ce8;
}

.modal-btn {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
}

.input-email-footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin-top: 20px;
}

.input-email-footer::placeholder {
  color: #757575;
  font-size: 16px;
  line-height: 1.25;
}

.input-email-footer:hover, .input-email-footer:focus {
  border-color: #188ce8;
}

.mail-btn {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.telegram-buttom-svg {
  width: 24px;
  height: 24px;
}

.email-text-btn {
  padding-left: 30px;
  padding-right: 10px;
}

.header-memu__img {
  width: 24px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-memu__img:focus, .header-memu__img:hover {
  fill: #2196f3;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

.hero {
  width: 100%;
  background-image: url(../images/hero-mobil.png);
  height: 400px;
  background-repeat: no-repeat;
}

.hero__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
  max-width: 360px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-top: 118px;
}

.hero-btn {
  background-color: #2196f3;
  margin: 0 auto;
  margin-top: 40px;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.benifits__img {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.benifits__link {
  display: flex;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

.benifits__name {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.benifits__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.benifits {
  margin-top: 30px;
}

.team__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-list__person-img {
  width: 100%;
}

.box {
  margin-top: 30px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.box__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.box__person-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  padding-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}

.customer-name {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .customer-name {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}

.customer-list__item {
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .customer-list__item {
    margin: 0px;
    flex-basis: calc(100% / 1 - 30px);
    margin-top: 30px;
    margin-right: 30px;
  }
}

.customer-list__item:hover, .customer-list__item:focus {
  border-color: #188ce8;
}

.customer-list__img {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list__link:focus .customer-list__img,
.customer-list__link:hover .customer-list__img {
  fill: #188ce8;
}

.footer {
  display: block;
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}

.center-footer {
  display: flex;
  justify-content: center;
}

.social-person-list__footer {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-person-list__footer:hover, .social-person-list__footer:focus {
  background-color: #2196f3;
}

.social-person-list__img-footer {
  fill: #ffffff;
}

.social-networks-name {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.footer-social-networks {
  margin-top: 20px;
}

.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}

.address-list__map {
  display: block;
  margin-top: 20px;
}

.address-list__conta {
  display: block;
  margin-top: 9px;
}

.address-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.exit-figura__header {
  position: absolute;
  right: 21px;
  top: 21px;
  width: 30px;
  height: 30px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-page {
  width: 480px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.header-page__filter {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page__filter:focus, .header-page__filter:hover {
  color: #2196f3;
}

.header-page__list-filter {
  margin-top: 32px;
}

.header-page__list-filter:first-child {
  margin-top: 0;
}

.header-page__list {
  margin-bottom: 302px;
}

.header-page__contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page__contact-link:focus, .header-page__contact-link:hover {
  color: #2196f3;
}

.header-page__contact-filter:not(:first-child) {
  margin-top: 32px;
}

.header-page__contact-list {
  margin-bottom: 64px;
}

.header-page__sociak-list {
  display: flex;
}

.header-page__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
}

.header-page__social-item:not(:first-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */