.benifits__img {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}
.benifins {
  margin-bottom: 60px;
  @media screen and(min-width:1200px) {
    margin-bottom: 0;
  }
}
.benifits__link {
  display: flex;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}
.benifits__name {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: $black-text;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.benifits__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $gray;
}
.benifits {
  margin-top: 30px;
  @media screen and(min-width:768px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}
.benifits-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and(min-width:768px) {
    margin-right: -30px;
    margin-top: -30px;
  }
}
.benifits-item {
  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-right: 30px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-right: 30px;
  }
}
